@model IEnumerable<FinalProject.Models.CommunityFavoriteVideos>

@{
    ViewData["Title"] = "FavoriteHighlights";
}

<h1 style="text-align:center">Favorite Highlights</h1>

<table class="table">
    <thead>
        <tr style="text-align:center">
            <th>
                Match
            </th>
            <th>
                Comments
            </th>
            <th>
                Highlight Video
            </th>
            <th>
                Remove
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideoTitle)
                @Html.DisplayFor(modelItem => item.VideoDate)
            </td>
            <td>

                @if (item.VideoComments != null)
                {
                    <div class="rTable">
                        <div class="rTableRow" style="display:inline-block">
                            <div class="rTableCellUserFavorite">
                                @foreach (var comment in item.VideoComments)
                                {
                                    <div id="commentContainer">
                                        <div id="commentHeader" style="text-align:left; float:left">
                                            <b>@Html.DisplayFor(modelItem => comment.User.UserName)</b> -
                                            @Html.DisplayFor(modelItem => comment.DateCreated)
                                        </div>
                                        <br />
                                        <div id="commentBody" style="text-align:left">
                                            @Html.DisplayFor(modelItem => comment.VideoComment)
                                            @if (comment.UserId == ViewData["userId"].ToString())
                                            {
                                                <form asp-controller="Home" asp-action="EditComment" method="post">
                                                    <input type="hidden" name="commentID" value="@comment.Id" />
                                                    <input type="submit" value="Edit" />
                                                </form>
                                            }
                                        </div>
                                        <br />
                                    </div>
                                }
                                <div id="commentForm" style="position: relative; bottom: 0;">
                                    <form asp-controller="Home" asp-action="CommentHighlightVideo" method="post">
                                        <input type="text" name="comment" placeholder="leave a remark" required />
                                        <input type="hidden" name="videoEmbed" value="@item.EmbedCode" />
                                        <input type="hidden" name="videoTitle" value="@item.VideoTitle" />
                                        <input type="hidden" name="videoDate" value="@item.VideoDate" />
                                        <input type="submit" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </td>
            <td>
                <div class="rTable">
                    <div class="rTableRow" style="display:inline-block">
                        @Html.Raw("<div id=\"rTableCellVideo\">" + item.EmbedCode + "</div>")
                    </div>
                </div>
            </td>
            <td>
                <a class="btn btn-danger" asp-action="DeleteFavoriteVideo" asp-route-videoID="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
