@model FootballStandings

@{
    ViewData["Title"] = "View";
}


<h1 style="text-align:center"><img src="@Model.response[0].league.logo" height="50"> @Model.response[0].league.name @Model.response[0].league.season Standings</h1>

<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                #
            </th>
            <th style="text-align:center">
                Name
            </th>
            <th style="text-align:center">
                Form
            </th>
            <th style="text-align:center">
                Points / Goal Difference
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.response[0].league.standings[0]) {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.rank)
            </td>
            <td style="text-align:center">
                <img src="@Html.DisplayFor(modelItem => item.team.logo)" width="25" height="25" /> @Html.DisplayFor(modelItem => item.team.name)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.form)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.points) / @Html.DisplayFor(modelItem => item.goalsDiff)
            </td>
        </tr>
}
    </tbody>
</table>
