@model FootballMatches

@{
    ViewData["Title"] = "MatchResults";
}

<h1 style="text-align:center">@Model.name Matches</h1>

<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                Matchday
            </th>
            <th style="text-align:center">
                Home
            </th>
            <th style="text-align:center">
                Away
            </th>
            <th style="text-align:center">
                Probability
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.matches) {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.round) 
                <br />
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.team1)
                <br />
                [@Html.DisplayFor(modelItem => item.score.ft[0])]
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.team2)
                <br />
                [@Html.DisplayFor(modelItem => item.score.ft[1])]
            </td>
            <td style="text-align:center">
                @if (item.score == null)
                {
                    <form asp-controller="Home" asp-action="Probability" method="get">
                        <input type="hidden" value="@Model.name" name="league" />
                        <input type="hidden" value="@item.team1" name="team1" />
                        <input type="hidden" value="@item.team2" name="team2" />
                        <input type="submit" value="Probability" style="align-content:center"/>
                    </form>
                }
            </td>
        </tr>
}
    </tbody>
</table>
