@model List<Match>

<h2>Premier League 2019/20</h2>
@foreach (Match m in Model)
{
    if (m.score != null)
    {
        <p>Group: @m.group</p>
        <p>Round: @m.round</p>
        <p>Date: @m.date</p>
        <p>@m.team1 - @m.team2</p>
        <p>@m.score.ft[0] - @m.score.ft[1]</p>
        <p></p>
        <br />
    }
    

}