@model FootballMatches

@{
    ViewData["Title"] = "Match Results";
}

<h1 style="text-align:center">@Model.name Matches</h1>

<table class="table table-striped">
    <thead>
        <tr style="text-align: center">
            <th>
                <form asp-controller="Home" asp-action="LeagueStandings">
                    <input type="hidden" value="@ViewBag.League" name="league" />
                    <input type="hidden" value="@ViewBag.Season" name="season" />
                    <input type="submit" value="Standings" class="select-items; btn btn-dark" />
                </form>
            </th>
            <th>
                Date
            </th>
            <th>
                Home
            </th>
            <th>
                Away
            </th>
            <th>
                Probability
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.matches)
        {
            <tr style="text-align: center">
                <td>
                    @Html.DisplayFor(modelItem => item.round)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @{
                        if (item.score == null)
                        {
                            <p>@Html.DisplayFor(modelItem => item.team1) </p>
                        }
                        else
                        {
                            <p>@Html.DisplayFor(modelItem => item.team1) [@Html.DisplayFor(modelItem => item.score.ft[0])]</p>
                        }
                    }
                </td>
                <td>
                    @{
                        if (item.score == null)
                        {
                            <p>@Html.DisplayFor(modelItem => item.team2) </p>
                        }
                        else
                        {
                            <p>@Html.DisplayFor(modelItem => item.team2) [@Html.DisplayFor(modelItem => item.score.ft[1])]</p>
                        }
                    }
                </td>
                <td>
                    @if (item.score == null && item.round != "Matchday 1")
                    {
                        <form asp-controller="Home" asp-action="Probability" method="get">
                            <input type="hidden" value="@Model.name" name="league" />
                            <input type="hidden" value="@item.team1" name="team1" />
                            <input type="hidden" value="@item.team2" name="team2" />
                            <input type="submit" value="Probability" class="btn btn-dark" style="align-content:center" />
                        </form>
                    }
                    else
                    {
                        <p>Match Finished</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>