@model FootballMatches

@{
    ViewData["Title"] = "MatchResults";
}

<h1>@Model.name</h1>

<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                Matchday
            </th>
            <th style="text-align:center">
                Home
            </th>
            <th style="text-align:center">
                Away
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.matches) {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.round)
                <br />
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.team1) [@Html.DisplayFor(modelItem => item.score.ft[0])]
                <br />
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.team2) [@Html.DisplayFor(modelItem => item.score.ft[1])]
                <br />
            </td>
        </tr>
}
    </tbody>
</table>
