@model QuestionMultipleChoice

@{
    ViewData["Title"] = "Quiz";
}

@{ 
    string question = TempData["question"].ToString();
    string correctAnswer = TempData["correctAnswer"].ToString();
    string firstIncorrect = TempData["firstIncorrect"].ToString();
    string secondIncorrect = TempData["secondIncorrect"].ToString();
    string thirdIncorrect = TempData["thirdIncorrect"].ToString();

    List<string> allAnswers = new List<string>();
    allAnswers.Add(correctAnswer);
    allAnswers.Add(firstIncorrect);
    allAnswers.Add(secondIncorrect);
    allAnswers.Add(thirdIncorrect);

    Random randomSort = new Random();
    int randomIndex = randomSort.Next(0, allAnswers.Count - 1);

    List<string> randomAnswers = new List<string>();
    while (allAnswers.Count > 0)
    {
        randomAnswers.Add(allAnswers[randomIndex]);
        allAnswers.RemoveAt(randomIndex);
        randomIndex = randomSort.Next(0, allAnswers.Count);
    }
}

<div class="align-content-center" style="text-align: center;">
    <h1>Test Your Football Knowledge</h1>

    <hr style="background-color: silver;" />

    <p>@question</p>

    <form asp-action="Quiz2Result" asp-controller="Home" method="post">

        <input type="hidden" name="question" value="@question"/>
        <input type="hidden" name="correctAnswer" value="@correctAnswer" />

        @foreach (var answer in randomAnswers)
        {
            <input type="hidden" name="randomAnswers" value="@answer" />
            <label>
                <input type="radio" name="answer" value="@answer" /> @answer &ensp;
            </label>
            <br />
        }
        <input type="submit" value="Submit Answer" class="btn btn-dark" />
    </form>
</div>