@model Match

@{
    ViewData["Title"] = "Quiz";
}

@{
    TempData["Team1"] = Model.team1;
    TempData["Team2"] = Model.team2;
    }


<div class="align-content-center" style="text-align: center;">
    <h1>Test Your Football Knowledge</h1>

    <hr />

    <h2>Match-Up</h2>

    <br />

    <p>Date of Match: <b>@Model.date</b></p>
    <p><b>@Model.team1</b> vs. <b>@Model.team2</b></p>

    <p>Which team won? Or was it a draw?</p>

    <form asp-action="QuizResult" asp-controller="Home" method="post">

        <input type="hidden" name="team1" value="@Model.team1" />
        <input type="hidden" name="team2" value="@Model.team2" />
        <input type="hidden" name="date" value="@Model.date" />
        <input type="hidden" name="index" value="@TempData["MatchIndex"]" />
        <input type="hidden" name="league" value="@TempData["League"]" />
        <input type="hidden" name="season" value="@TempData["Season"]" />

        <label>
            <input type="radio" name="answer" value="team1" /> @Model.team1 &ensp;
        </label>

        <label>
            <input type="radio" name="answer" value="team2" /> @Model.team2 &ensp;
        </label>

        <label>
            <input type="radio" name="answer" value="draw" /> Draw
        </label>

        <br /><br />

        <input type="submit" value="Submit answer" class="btn btn-dark" />
    </form>
</div>