@model List<Highlight>

@{
    ViewData["Title"] = "RecentHighlights";
}

@*navigation*@
@{
    int pageNum = ViewBag.pageCount;
    int numOfpages = ViewBag.listCount;

    int p = pageNum >= 2 ? pageNum - 1 : pageNum;
    int pr = pageNum >= 3 ? pageNum - 2 : pageNum;
    int previous = pageNum >= 2 ? pageNum - 1 : pageNum;

    int n = pageNum < numOfpages ? pageNum + 1 : pageNum;
    int ne = pageNum < (numOfpages - 1) ? pageNum + 2 : pageNum;
    int next = pageNum < numOfpages ? pageNum + 1 : pageNum;
}

<h1 style="text-align:center">Recent Football Highlights</h1>

<form asp-controller="Home" asp-action="SearchHighlights" style="text-align: right;" method="get">
    <input type="text" name="searchFor" placeholder="Search" required />
    <input type="submit" />
</form>
<br />

@if (Model?.Any() ?? false)
{

    <table class="table">
        <thead>
            <tr style="text-align:center">
                <th>
                    Match
                </th>
                <th>
                    Highlight Video
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="text-align:center">
                    <td>
                        @Html.DisplayFor(modelItem => item.competition.name)
                        <br />
                        @Html.DisplayFor(modelItem => item.title)
                        <br />
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        <div class="rTable">
                            @foreach (var v in item.videos)
                            {
                            <div class="rTableRow">
                                @if (v.VideoComments != null)
                                {
                                    <div class="rTableCell">
                                        @foreach (var comment in v.VideoComments)
                                        {
                                            <div id="commentContainer">
                                                <div id="commentHeader" style="text-align:left; float:left">
                                                    <b>@Html.DisplayFor(modelItem => comment.User.UserName)</b> -
                                                    @Html.DisplayFor(modelItem => comment.DateCreated)
                                                </div>
                                                <br />
                                                <div id="commentBody" style="text-align:left">
                                                    @Html.DisplayFor(modelItem => comment.VideoComment)
                                                    @if (comment.UserId == ViewData["userId"].ToString())
                                                    {
                                                        <form asp-controller="Home" asp-action="EditComment" method="post">
                                                            <input type="hidden" name="commentID" value="@comment.Id" />
                                                            <input type="submit" value="Edit" />
                                                        </form>
                                                    }
                                                </div>
                                                <br />
                                            </div>
                                        }
                                        <div id="commentForm" style="position: relative; bottom: 0;">
                                            <form asp-controller="Home" asp-action="CommentHighlightVideo" method="post">
                                                <input type="text" name="comment" placeholder="leave a remark" required />
                                                <input type="hidden" name="page" value="@pageNum" />
                                                <input type="hidden" name="videoEmbed" value="@v.embed" />
                                                <input type="hidden" name="videoTitle" value="@item.title" />
                                                <input type="hidden" name="videoDate" value="@item.date" />
                                                <input type="submit" />
                                            </form>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <div class="rTableCell">
                                        <div id="commentForm">
                                            <form asp-controller="Home" asp-action="CommentHighlightVideo" method="post">
                                                <input type="text" name="comment" placeholder="leave a remark" required />
                                                <input type="hidden" name="page" value="@pageNum" />
                                                <input type="hidden" name="videoEmbed" value="@v.embed" />
                                                <input type="hidden" name="videoTitle" value="@item.title" />
                                                <input type="hidden" name="videoDate" value="@item.date" />
                                                <input type="submit" />
                                            </form>
                                        </div>
                                    </div>
                                }

                                @*@Html.Raw(v.embed +
        "<div class=\"rTableRow\"><form asp-controller = \"Home\" asp-action = \"AddFavoriteVideo\" method = \"post\" > <input type=\"hidden\" name=\"videoEmbed\" value=\"@v.embed\" /><input type=\"hidden\" name=\"videoTitle\" value=\"@item.title\" /><input type=\"hidden\" name=\"videoDate\" value=\"@item.date\" /><input type=\"hidden\" name=\"page\" value=\"@pageNum\" /><input type=\"submit\" value=\"Add to Favorites\" /></form></div>")*@
                                @Html.Raw("<div class=\"rTableCellVideo\">" + v.embed + "</div>")
                            </div>

                                <div class="rTableRow" id="BtnAddFavoriteVideo">
                                    <form asp-controller="Home" asp-action="AddFavoriteVideo" method="post">
                                        <input type="hidden" name="videoEmbed" value="@v.embed" />
                                        <input type="hidden" name="videoTitle" value="@item.title" />
                                        <input type="hidden" name="videoDate" value="@item.date" />
                                        <input type="hidden" name="page" value="@pageNum" />
                                        <input type="submit" value="Add to Favorites" />
                                    </form>
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-controller="Home" asp-action="RecentHighlights" style="text-align: center;" method="get">
        @{
            if (pageNum >= 2)
            {
                <button class="btn-light" name="page" type="submit" value="@previous">Previous</button>

                @if (pageNum != pr)
                {
                    <input class="btn-light" name="page" type="submit" value="@pr" />
                }
                <input class="btn-light" name="page" type="submit" value="@p" />
            }
        }
        <input class="btn-dark" name="page" type="submit" value="@pageNum" />
        @{
            if (pageNum < numOfpages)
            {
                <input class="btn-light" name="page" type="submit" value="@n" />
                @if (pageNum != ne)
                {
                    <input class="btn-light" name="page" type="submit" value="@ne" />
                }
                <button class="btn-light" name="page" type="submit" value="@next">Next</button>
            }
        }
    </form>
}
else
{
    <h3>No results were found. Please check again later.</h3>
}
