@model List<Highlight>

@{
    ViewData["Title"] = "RecentHighlights";
}


<h1 style="text-align:center">Recent Football Highlights</h1>

<table class="table">
    <thead>
        <tr style="text-align:center">
            <th>
                Match
            </th>
            <th style="padding: 2px 200px 2px 200px;">
                Hightlight Video
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="text-align:center">
                <td>
                    @Html.DisplayFor(modelItem => item.competition.name)
                    <br />
                    @Html.DisplayFor(modelItem => item.title)
                    <br />
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @foreach (var v in item.videos)
                    {
                        @Html.Raw(v.embed)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@*buttons*@
@{ 
    int pageNum = ViewBag.pageCount;
    int previous = pageNum >= 2 ? pageNum - 1 : pageNum;
    int next = pageNum <= 4 ? pageNum + 1 : pageNum;
}

<form asp-controller="Home" asp-action="RecentHighlights" style="text-align: center;" method="get">
    <button class="btn-outline-info" name="page" type="submit" value="@previous">Previous</button>
    <input class="btn-outline-info" name="page" type="submit" value="1" />
    <input class="btn-outline-info" name="page" type="submit" value="2" />
    <input class="btn-outline-info" name="page" type="submit" value="3" />
    <input class="btn-outline-info" name="page" type="submit" value="4" />
    <input class="btn-outline-info" name="page" type="submit" value="5" />
    <button class="btn-outline-info" name="page" type="submit" value="@next">Next</button>
</form>

@*<a asp-controller="Home" asp-action="RecentHighlights" href="#" name="page" value="page --">&laquo; Previous </a>
    <a asp-controller="Home" asp-action="RecentHighlights" href="#" name="page" value="1"> 1 </a>
    <a asp-controller="Home" asp-action="RecentHighlights" href="#" name="page" value="2"> 2 </a>
    <a asp-controller="Home" asp-action="RecentHighlights" href="#" name="page" value="3"> 3 </a>
    <a asp-controller="Home" asp-action="RecentHighlights" href="#" name="page" value="4"> 4 </a>
    <a asp-controller="Home" asp-action="RecentHighlights" href="#" name="page" value="5"> 5 </a>
    <a asp-controller="Home" asp-action="RecentHighlights" href="#" name="page" value="page ++"> Next &raquo;</a>*@